hr{
    color:#4684c6
    ;
}
#leftbox {
    float:left;
    width:50%;
    height:280px;
}
#rightbox{
    float:right;
    width:50%;
    height:280px;
}

h1{
    color: #4684c6
    ;
}
h3{
    color: #4684c6;
    text-align: center;
}
button{
    color:#e9eef7;
    background-color:#91b7dd;
    border:none;
    border-radius:3px;
    padding:7px;
    min-height:10px; 
    min-width: 10px;
}
table{
    margin-left: auto;
    margin-right: auto;
  }
